@font-face{
  font-family:'sourcesanspro';
  src:url("./font/sourcesanspro.woff2") format("woff2"),
  url("./font/sourcesanspro.woff") format("woff");
  font-weight:normal;
  font-style:normal
}
html {
  background-color: #e9e7ef;
  font-family: 'sourcesanspro', 'Helvetica Neue', Arial, sans-serif;
}